<div class="flex flex-col flex-auto w-full min-w-0" id="page-top">

    <!-- <mat-toolbar color="primary">
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-raised-button (click)="buttonClick('sign-in')">
            <mat-icon svgIcon="mat_solid:login"></mat-icon>
            &nbsp;Sign In
        </button>
    </mat-toolbar>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 w-full min-w-0">
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
            <h1>Bringing The Logistics Community To One Central Place</h1>
            <p class="lead fw-normal text-muted mb-5">Logistics Simplified</p>
            <div class="d-flex flex-column flex-lg-row align-items-center">
                <a class="me-lg-3 mb-4 mt-8 mb-lg-0" href
                    (click)="navigateExternal($event, 'https://play.google.com/store/apps/details?id=com.loadgistix.www&gl=ZA')"><img
                        class="app-badge" src="assets/img/google-play-badge.svg" alt="..." /></a>
            </div>
        </div>

        <div class="masthead-device-mockup">
            <div class="device-wrapper">
                <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                    <div class="screen bg-black">
                        <img src="assets/images/screenshot.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 w-full min-w-0">

    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 w-full min-w-0">

    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0">

    </div> -->

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="#page-top">
                <!-- Logo -->
                <div class="flex items-center">
                    <!-- Light version -->
                    <img class="dark:hidden h-10" [src]="'assets/images/logo/logo.png'" alt="Logo image">
                    <!-- Dark version -->
                    <img class="hidden dark:flex h-10" src="assets/images/logo/logoWhite.png" alt="Logo image">
                </div>
            </a>
            <div>
                <!-- <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#features">Features</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#download">Download</a></li>
                </ul> -->
                <button mat-raised-button (click)="buttonClick('sign-in')">
                    <mat-icon svgIcon="mat_solid:login"></mat-icon>
                    &nbsp;Sign In
                </button>
            </div>
        </div>
    </nav>
    <!-- Mashead header-->
    <header class="masthead">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <!-- Mashead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
                        <h1>Bringing The Logistics Community To One Central Place</h1>
                        <p class="lead fw-normal text-muted mb-5">Logistics Simplified</p>
                        <div class="d-flex flex-column flex-lg-row align-items-center">
                            <a class="me-lg-3 mb-4 mt-8 mb-lg-0" href
                                (click)="navigateExternal($event, 'https://play.google.com/store/apps/details?id=com.loadgistix.www&gl=ZA')"><img
                                    class="app-badge" src="assets/img/google-play-badge.svg" alt="..." /></a>
                            <!-- <a href="#!"><img class="app-badge" src="assets/img/app-store-badge.svg" alt="..." /></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Masthead device mockup feature-->
                    <div class="masthead-device-mockup">
                        <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                    <stop class="gradient-start-color" offset="0%"></stop>
                                    <stop class="gradient-end-color" offset="100%"></stop>
                                </linearGradient>
                            </defs>
                            <circle cx="50" cy="50" r="50"></circle>
                        </svg><svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                                transform="translate(120.42 -49.88) rotate(45)"></rect>
                            <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                                transform="translate(-49.88 120.42) rotate(-45)"></rect>
                        </svg><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                        <div class="device-wrapper">
                            <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                                <div class="screen bg-black">
                                    <!-- PUT CONTENTS HERE:-->
                                    <!-- * * This can be a video, image, or just about anything else.-->
                                    <!-- * * Set the max width of your media to 100% and the height to-->
                                    <!-- * * 100% like the demo example below.-->
                                    <!-- <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%">
                                        <source src="assets/img/demo-screen.mp4" type="video/mp4" />
                                    </video> -->
                                    <img src="assets/images/screenshot.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- App features section-->
    <section id="features">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                    <div class="container-fluid px-5">
                        <mat-accordion class="max-w-4xl mt-12">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header [collapsedHeight]="'auto'">
                                    <mat-panel-title>
                                        <h5>About Loadgistix</h5>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-list>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Loadgistix Is A Virtual “Super-Hub” For Logistics Locally And Globally
                                        </div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>It Is Dynamic, Secure And Creative</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Loadgistix Does Not Seek To Be Competitive, But To Assist All Major
                                            Companies
                                            Involved In Logistics</div>
                                    </mat-list-item>
                                </mat-list>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header [collapsedHeight]="'auto'">
                                    <mat-panel-title>
                                        <h5>How It Works</h5>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-list>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Loadgistix Is A Go To Place For Information And Answers Within Logistics
                                        </div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>It Is A Listing Service Free/Paid</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Connects Transporters With Load Owners</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Provides Online Services And Tools Focused On Logistics</div>
                                    </mat-list-item>
                                </mat-list>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header [collapsedHeight]="'auto'">
                                    <mat-panel-title>
                                        <h5>Benefits We Provide</h5>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-list>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Insurance</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Personnel</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Industry Focused Advertising And Promotions</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Increased Revenue Streams</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Cost Effective Operations</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Logistics And Supply Chain Information Kept Up To Date</div>
                                    </mat-list-item>
                                </mat-list>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header [collapsedHeight]="'auto'">
                                    <mat-panel-title>
                                        <h5>Who Benefits From Loadgistix?</h5>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-list>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Shipping Companies</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Suppliers To Any Sector Of The Industry</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Employers And Job-Seekers</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Companies That Need Transport Done</div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>check_circle</mat-icon>
                                        <div>Transporters/Fleets (Land|Sea|Air)
                                        </div>
                                    </mat-list-item>
                                </mat-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="col-lg-4 order-lg-0">
                    <!-- Features section device mockup-->
                    <div class="features-device-mockup">
                        <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                                    <stop class="gradient-start-color" offset="0%"></stop>
                                    <stop class="gradient-end-color" offset="100%"></stop>
                                </linearGradient>
                            </defs>
                            <circle cx="50" cy="50" r="50"></circle>
                        </svg><svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                                transform="translate(120.42 -49.88) rotate(45)"></rect>
                            <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
                                transform="translate(-49.88 120.42) rotate(-45)"></rect>
                        </svg><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                        <div class="device-wrapper">
                            <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                                <div class="screen bg-black">
                                    <!-- PUT CONTENTS HERE:-->
                                    <!-- * * This can be a video, image, or just about anything else.-->
                                    <!-- * * Set the max width of your media to 100% and the height to-->
                                    <!-- * * 100% like the demo example below.-->
                                    <!-- <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%">
                                        <source src="assets/img/demo-screen.mp4" type="video/mp4" />
                                    </video> -->
                                    <img src="assets/images/screenshot2.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <img width="100%" src="assets/images/Website-Banner.png">
    <!-- Call to action section-->
    <section class="cta">
        <div class="cta-content">
            <div class="container px-5">
                <h2 class="text-white display-1 lh-1 mb-4">
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between none">
                        <button mat-raised-button style="font-size: medium; width: 250px;" class="m-8"
                            (click)="buttonClick('sign-up')">
                            <mat-icon svgIcon="feather:truck"></mat-icon>
                            &nbsp;Need to&nbsp;<b>Move</b>&nbsp;a&nbsp;<b>Load</b>
                        </button>
                        <button mat-raised-button style="font-size: medium; width: 250px;" class="m-8"
                            (click)="insurance()">
                            <mat-icon svgIcon="mat_solid:list_alt"></mat-icon>
                            &nbsp;Insurance
                        </button>
                        <button mat-raised-button style="font-size: medium; width: 250px;" class="m-8"
                            (click)="buttonClick('sign-up')">
                            <mat-icon svgIcon="feather:shopping-bag"></mat-icon>
                            &nbsp;Need a&nbsp;<b>Load</b>&nbsp;to&nbsp;<b>Move</b>
                        </button>
                    </div>
                    <hr>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between none">
                        <button mat-raised-button style="font-size: medium; width: 250px;" class="m-8"
                            (click)="buttonClick('businessDirectory')">
                            <mat-icon svgIcon="mat_solid:folder_open"></mat-icon>
                            &nbsp;Business Directory
                        </button>
                        <button mat-raised-button style="font-size: medium; width: 250px;" class="m-8"
                            (click)="buttonClick('sign-up')">
                            <mat-icon svgIcon="mat_solid:list_alt"></mat-icon>
                            &nbsp;Business Listing
                        </button>
                        <button mat-raised-button style="font-size: medium; width: 250px;" class="m-8"
                            (click)="buttonClick('sign-up')">
                            <mat-icon svgIcon="mat_solid:list_alt"></mat-icon>
                            &nbsp;Advertise
                        </button>
                    </div>
                </h2>
            </div>
        </div>
    </section>
    <!-- App badge section-->
    <section class="bg-gradient-primary-to-secondary" id="download">
        <div class="container px-5">
            <h2 class="text-center text-white font-alt mb-4">Get the app now!</h2>
            <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                <a class="me-lg-3 mb-4 mb-lg-0" href
                    (click)="navigateExternal($event, 'https://play.google.com/store/apps/details?id=com.loadgistix.www&gl=ZA')"><img
                        class="app-badge" src="assets/img/google-play-badge.svg" alt="..." /></a>
                <!-- <a href="#!"><img class="app-badge" src="assets/img/app-store-badge.svg" alt="..." /></a> -->
            </div>
        </div>
    </section>
    <div class="flex-auto -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0"> -->
            <advert></advert>
            <!-- </div> -->
        </div>
    </div>

    <!-- Footer-->
    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2">Loadgistix &copy; {{currentYear}}</div>
                <!-- <a href="#!">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">Terms</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">FAQ</a> -->
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="assets/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</div>