<h1 mat-dialog-title class="accent dialog-title bg-primary text-on-primary text-secondary"
    style="margin-bottom: 0px !important;color: #FFF!important;font-size: x-large;padding-top: 0px!important;">Insurance
</h1>
<div mat-dialog-content>
    <br>
    <h4>We have Transcended the very inflexible insurance covers normally available to the Logistics Industry!!!!</h4>
    <hr>
    <h5>As a member of the LOADGISTIX Community you can now get:</h5>
    <mat-list>
        <mat-list-item>
            <!-- <mat-icon mat-list-icon>check_circle</mat-icon> -->
            <div>Taylor Made Insurance to suite your business - Very small or Very big</div>
        </mat-list-item>
        <mat-list-item>
            <!-- <mat-icon mat-list-icon>check_circle</mat-icon> -->
            <div>Flexible cover to assist with those once of abnormal instances that happens from time to time</div>
        </mat-list-item>
        <mat-list-item>
            <!-- <mat-icon mat-list-icon>check_circle</mat-icon> -->
            <div>Fill out the quick quote form to get an indication of what you would save: "Click on the Form below"
            </div>
        </mat-list-item>
    </mat-list>
</div>
<div mat-dialog-actions class="dialog-footer" style="margin-top: 0px !important;">
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button color="primary" (click)="cancel()">OK</button>
</div>