<div class="flex flex-col flex-auto min-w-0">
    <div class="page-layout blank p-4" fusePerfectScrollbar>
        <div class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0">
            <div class="sm:col-span-4 lg:col-span-4 flex flex-col flex-auto p-6 overflow-hidden"
                style="padding: 0!important">
                <div class="table-container bg-card shadow rounded-2xl">
                    <mat-card class="mat-elevation-z5" style="padding: 4px!important;">
                        <mat-list>
                            <ng-container *ngFor="let directoryCategoryItem of directoryCategoryList">
                                <mat-list-item class="listItem" *ngIf="(directoryCategoryItem.directory ? directoryCategoryItem.directory.length : 0) > 0">
                                    <mat-icon mat-list-icon>note</mat-icon>
                                    <div mat-line><a [href]="'#/directory-details?id='+directoryCategoryItem.id"
                                            [matBadge]="directoryCategoryItem.directory ? directoryCategoryItem.directory.length : 0"
                                            matBadgeOverlap="false">{{directoryCategoryItem.description}}</a></div>
                                </mat-list-item>
                            </ng-container>
                        </mat-list>
                    </mat-card>
                </div>
            </div>
            <div class="sm:col-span-2 lg:col-span-2 flex flex-col flex-auto p-6 overflow-hidden"
                style="padding: 0!important">
                <advert></advert>
            </div>
        </div>
    </div>
</div>